:root {
   --t: 250ms;
   --bg: #444;
   --fg: #eee;
   --shade: #00000020;
   --shine: #ffffff20;
   --radius: 4px;
}

html {
   font-family: sans;
   height: 100vh;
   width: 100vw;
   color: var(--fg);
}

body {
   background: var(--bg);
   height: inherit;
   width: inherit;
   margin: 0;
   display: flex;
   justify-content: center;
   transition: background-color var(--t) ease;;
}

body.movie-time { background: #000; }

.hidden {
   display: none;
}

.opaque {
   opacity: 0;
}

#fileselect {
   width: 30rem;
   margin: auto;
}

#watch {
   width: inherit;
   height: inherit;
}

.cycling-span {
   transition: opacity var(--t) ease;
}

video {
   display: block;
   height: 100vh;
   max-width: 100vw;
   margin: auto;
}

#chat {
   position: absolute;
   right: 1rem;
   top: 1rem;
   width: 30rem;
   height: 30rem;
   background: var(--shade);
   border: 1px solid var(--shine);
   border-radius: var(--radius);
   display: flex;
   flex-direction: column;
   transition: opacity var(--t) ease;
}

#chat .log {
   padding: 0.5rem;
   width: 100%;
   height: calc(100% - 1.5rem);
   border-top-left-radius: var(--radius);
   border-bottom-right-radius: var(--radius);
}

.msg.notice { font-style: italic; }

.msg.chat .name {
   font-weight: bold;
   margin-right: 1rem;
}

#chat input {
   color: var(--fg);
   background: var(--shine);
   height: 1.5rem;
   border-bottom-left-radius: var(--radius);
   border-bottom-right-radius: var(--radius);
   outline: none;
   border: 1px solid var(--shine);
   font-size: 1rem;
   padding: 0.25rem 0.5rem;
}

#chat .log .msg + .msg { margin-top: 0.5rem; }
