#watch {
   width: inherit;
   height: inherit;
}

.settings-icon {
	font-size: 1.2rem;
	position: absolute;
	padding: 1em;
	opacity: 0.2;
	cursor: pointer;
	transition: opacity var(--t) ease;
	user-select: none;
}

.settings-icon:hover {
	opacity: 1;
}
