#chat {
	font-weight: bold;
	position: absolute;
	width: 40rem;
	height: 15rem;
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	transition: opacity var(--t) ease;
	text-shadow:
		1px 1px 1px var(--bg),
		2px 2px 4px var(--bg);
}

#chat input {
	color: #fff;
	caret-color: #fff;
	font-weight: bold;
	background: none;
	height: 1.5rem;
	outline: none;
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
	text-shadow: inherit;
}
