.modal {
	font-size: 20px;
	padding: 2rem;
}

.modal header {
	font-variant: small-caps;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.modal footer {
	margin-top: 1rem;
}

.modal .body {
	line-height: 1.5em;
	color: var(--shine-lots);
}
